@model IEnumerable<Bakprogramma>
@{
    ViewData["Title"] = "BakprogrammaBeheren";
}
<h1 style="text-align: center; padding-top: 20px">Brood Beheren</h1>

<button class="btn-dark card-btn" style="width: 200px!important">
    <a style="color:white" asp-action="Create">Bakprogramma Toevoegen</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    <a asp-controller="Bakprogramma" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
