@model BreadCore.Models.Bakprogramma

@{
    ViewBag.Title = "DervingBroodInvoeren";
}

<h1 class="text-center" style="padding-top: 20px">Details</h1>

<div>
    <h4> Bak Programma: @Html.DisplayFor(modelItem => Model.Id)</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => Model.Naam)
                </th>
                <th>
                    Code
                </th>
                <th>
                    Hoeveelheid derving
                </th>

            </tr>
        </thead>
        <tbody>
            <form method="post" asp-action="DervingBroodOpsplitsen">
                @foreach (var item in Model.BroodTypes)
                {
                <tr>
                    <td>
                         @Html.DisplayFor(modelItem => item.Type)
                        <input type="hidden" name="BroodTypeID" value="@item.BroodTypeID">
                        <input type="hidden" name="BedienerNr" value="@User.Claims.First().ToString()">
                        <input type="hidden" name="Wachtwoord" value="@User.Claims.Last().ToString()">
                        <input type="hidden" name="Bakprogramma" value="@Model.Id">
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        <input type="number" name="HoeveelheidDerving" max="1000" required>
                    </td>
                </tr>
                }
                <submit>
                    <input type = "submit" class="btn btn-lg btn-primary btn-block">
                </submit>
            </form>
        </tbody>
    </table>
</div>

