@model IEnumerable<Filiaal>
@{
    ViewData["Title"] = "FilialenBeheren";
}

<h1 style="text-align: center; padding-top: 20px">Filialen Beheren</h1>
<button class="btn-dark card-btn" style="width: 200px!important">
    <a style="color: white" asp-action="Create">Create New</a>
</button>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FiliaalId)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.FiliaalNaam)
            </td>

            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var obj in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => obj.FiliaalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => obj.FiliaalNaam)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@obj.FiliaalId">Details</a> |
                <a asp-action="Edit" asp-route-id="@obj.FiliaalId">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>

