@page
@model BreadCore.Controllers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medewerker[0].BedienerNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medewerker[0].Wachtwoord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medewerker[0].Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medewerker) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BedienerNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wachtwoord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
