@model BreadCore.Models.Medewerker

@{
    ViewData["Title"] = "Delete";
}
<header style="">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3" style="margin-bottom: 0px!important; border-bottom: solid; background-color: lightgray!important">
        <div class="container-fluid">
            <a asp-area="" asp-controller="Medewerkers" asp-action="SysteemBeheerder"><img src="~/Images/logo aldi.png" style="width:auto; height: 50px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item" style="border-right: solid;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Medewerkers" asp-action="MedewerkersBeheren">Medewerkers Beheren</a>
                    </li>
                    <li class="nav-item" style="border-right: solid;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Filiaal" asp-action="FilialenBeheren" style="color: red!important;">Filialen Beheren</a>
                    </li>

                    <li class="nav-item  me-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Medewerkers" asp-action="Logout">Uitloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h1 class="text-center" style="padding-top: 20px">Medewerker Verwijderen</h1>
<div class="col-md-4" style="display:block; width:100%; margin:0 auto;">

    <div class="loginField" style="border: solid; border-width: 5px">
        <dl class="row">
            <dt>
                @Html.DisplayNameFor(model => model.BedienerNr)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BedienerNr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Wachtwoord)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Wachtwoord)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rol)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rol)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FiliaalId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FiliaalId)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a asp-action="MedewerkersBeheren">Annuleer</a> |
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </form>

    </div>
    
</div>
