@model BreadCore.Models.Medewerker

@{
    ViewData["Title"] = "Delete";
}
<h1 class="text-center" style="padding-top: 20px">Medewerker Verwijderen</h1>
<div class="col-md-4" style="display:block; width:100%; margin:0 auto;">

    <div class="loginField" style="border: solid; border-width: 5px">
        <dl class="row">
            <dt>
                @Html.DisplayNameFor(model => model.BedienerNr)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BedienerNr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Wachtwoord)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Wachtwoord)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rol)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rol)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FiliaalId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FiliaalId)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a asp-action="MedewerkersBeheren">Annuleer</a> |
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </form>

    </div>
    
</div>
