@model IEnumerable<Medewerker>
@{
    ViewData["Title"] = "MedewerkersBeheren";
}
<h1 style="text-align: center; padding-top: 20px">Medewerkers Beheren</h1>

<button class="btn-dark card-btn" style="width: 200px!important">
    <a style="color:white" asp-action="Create">Medewerker Toevoegen</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BedienerNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wachtwoord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.FiliaalId)
            </td>

            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BedienerNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wachtwoord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FiliaalId)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
